/*
 * heights
 * */

/*
 * viewport
 */

.h-10vh {
  height: 10vh;
}

.h-20vh {
  height: 20vh;
}

.h-30vh {
  height: 30vh;
}

.h-40vh {
  height: 40vh;
}

.h-50vh {
  height: 50vh;
}

.h-60vh {
  height: 60vh;
}

.h-70vh {
  height: 70vh;
}

.h-80vh {
  height: 80vh;
}

.h-90vh {
  height: 90vh;
}

.h-100vh {
  height: 100vh;
}

/*
 * percentage
 */

.h-10p {
  height: 10%;
}

.h-20p {
  height: 20%;
}

.h-30p {
  height: 30%;
}

.h-40p {
  height: 40%;
}

.h-50p {
  height: 50%;
}

.h-60p {
  height: 60%;
}

.h-70p {
  height: 70%;
}

.h-80p {
  height: 80%;
}

.h-90p {
  height: 90%;
}

.h-100p {
  height: 100%;
}

/*
 * widths
 * */

/*
 * viewport
 * */

.w-10vw {
  width: 10vw;
}

.w-20vw {
  width: 20vw;
}

.w-30vw {
  width: 30vw;
}

.w-40vw {
  width: 40vw;
}

.w-50vw {
  width: 50vw;
}

.w-60vw {
  width: 60vw;
}

.w-70vw {
  width: 70vw;
}

.w-80vw {
  width: 80vw;
}

.w-90vw {
  width: 90vw;
}

.w-100vw {
  width: 100vw;
}

/*
 * percentage
 * */

.w-10p {
  width: 10%;
}

.w-20p {
  width: 20%;
}

.w-30p {
  width: 30%;
}

.w-40p {
  width: 40%;
}

.w-50p {
  width: 50%;
}

.w-60p {
  width: 60%;
}

.w-70p {
  width: 70%;
}

.w-80p {
  width: 80%;
}

.w-90p {
  width: 90%;
}

.w-100p {
  width: 100%;
}

/*
 *margins
 * */

.m-02 {
  margin: 0.2rem;
}

.m-05 {
  margin: 0.5rem;
}

.m-1 {
  margin: 1rem;
}

.m-15 {
  margin: 1.5rem;
}

.m-2 {
  margin: 2rem;
}

.m-25 {
  margin: 2.5rem;
}

.m-3 {
  margin: 3rem;
}

/*
 *paddings
 * */

.p-02 {
  padding: 0.2rem;
}

.p-05 {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-15 {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-25 {
  padding: 2.5rem;
}

.p-3 {
  padding: 3rem;
}

/*
 * flex box
 * */

/*
 * flex container classes
 * */

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row-jcC {
  display: flex;
  justify-content: center;
}

.flex-col-jcC {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row-jcE {
  display: flex;
  justify-content: flex-end;
}

.flex-col-jcE {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.flex-row-jcSA {
  display: flex;
  justify-content: space-around;
}

.flex-col-jcSA {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-row-jcSB {
  display: flex;
  justify-content: space-between;
}

.flex-col-jcSB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row-jcSE {
  display: flex;
  justify-content: space-evenly;
}

.flex-col-jcSE {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-row-aiC {
  align-items: center;
  display: flex;
}

.flex-col-aiC {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.flex-row-aiE {
  align-items: flex-end;
  display: flex;
}

.flex-col-aiE {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.flex-row-jcC-aiC {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex-col-jcC-aiC {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-jcC {
  justify-content: center;
}

.flex-jcS {
  justify-content: flex-start;
}

.flex-jcE {
  justify-content: flex-end;
}

.flex-jcSB {
  justify-content: space-between;
}

.flex-jcSE {
  justify-content: space-evenly;
}

.flex-jcSA {
  justify-content: space-around;
}

.flex-aiC {
  align-items: center;
}

.flex-aiE {
  align-items: flex-end;
}

.flex-aiS {
  align-items: flex-start;
}

.flex-wNW {
  flex-wrap: nowrap;
}

.flex-wW {
  flex-wrap: wrap;
}

.flex-wWR {
  flex-wrap: wrap-reverse;
}

/*
 * flex item classes
 * */
.flex-g1 {
  flex-grow: 1;
}

.flex-g2 {
  flex-grow: 2;
}

.flex-g3 {
  flex-grow: 3;
}

.flex-asC {
  align-self: center;
}

.flex-asE {
  align-self: flex-end;
}

.flex-asS {
  align-self: flex-start;
}

/*
 * css variables
 * */
:root {
  --image_base_width: 120px;
  --image_base_height: 120px;

  --icon_base_width: 25px;
  --icon_base_height: 25px;

  --toggle_base_width: 50px;
  --toggle_base_height: 20px;
  --toggle_base_padding: 0.26rem;
}

/*
 * icons
 * */
.icon {
  align-items: center;
  border-radius: 10%;
  display: flex;
  justify-content: center;
}

.icon:hover {
  background-color: silver;
  cursor: pointer;
}

.icon-s-square {
  height: var(--icon_base_height);
  width: var(--icon_base_width);
}

.icon-s-circle {
  border-radius: 50%;
  height: var(--icon_base_height);
  width: var(--icon_base_width);
}

.icon-s-horizontal {
  height: var(--icon_base_height);
  width: calc(var(--icon_base_width) * 1.5);
}

.icon-s-vertical {
  height: calc(var(--icon_base_width) * 1.5);
  width: var(--icon_base_height);
}

.icon-m-square {
  --addW: calc(var(--icon_base_width) * 0.4);
  --addH: calc(var(--icon_base_height) * 0.4);
  height: calc(var(--icon_base_height) + var(--addH));
  width: calc(var(--icon_base_width) + var(--addW));
}

.icon-m-circle {
  --addW: calc(var(--icon_base_width) * 0.4);
  --addH: calc(var(--icon_base_height) * 0.4);
  border-radius: 50%;
  height: calc(var(--icon_base_height) + var(--addH));
  width: calc(var(--icon_base_width) + var(--addW));
}

.icon-m-horizontal {
  --W: calc(var(--icon_base_width) + var(--icon_base_width) * 0.4);
  height: calc(var(--icon_base_height) + var(--icon_base_height) * 0.4);
  width: calc(var(--W) * 1.5);
}

.icon-m-vertical {
  --H: calc(var(--icon_base_height) + var(--icon_base_height) * 0.4);
  height: calc(var(--H) * 1.5);
  width: calc(var(--icon_base_height) + var(--icon_base_height) * 0.4);
}

.icon-l-square {
  --addW: calc(var(--icon_base_width) * 0.8);
  --addH: calc(var(--icon_base_height) * 0.8);
  height: calc(var(--icon_base_height) + var(--addH));
  width: calc(var(--icon_base_width) + var(--addW));
}

.icon-l-circle {
  --addW: calc(var(--icon_base_width) * 0.8);
  --addH: calc(var(--icon_base_height) * 0.8);
  border-radius: 50%;
  height: calc(var(--icon_base_height) + var(--addH));
  width: calc(var(--icon_base_width) + var(--addW));
}

.icon-l-horizontal {
  --W: calc(var(--icon_base_width) + var(--icon_base_width) * 0.8);
  height: calc(var(--icon_base_height) + var(--icon_base_height) * 0.8);
  width: calc(var(--W) * 1.5);
}

.icon-l-vertical {
  --H: calc(var(--icon_base_height) + var(--icon_base_height) * 0.8);
  height: calc(var(--H) * 1.5);
  width: calc(var(--icon_base_height) + var(--icon_base_height) * 0.8);
}

/*
 *images
 * */

.responsive-img {
  border-radius: inherit;
  max-height: 100%;
  max-width: 100%;
}

.full-img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.image {
  align-items: center;
  border-radius: inherit;
  display: flex;
  justify-content: center;
}

.image:hover {
  background-color: white;
}

.image-s-square {
  height: var(--image_base_height);
  width: var(--image_base_width);
}

.image-s-circle {
  border-radius: 50%;
  height: var(--image_base_height);
  width: var(--image_base_width);
}

.image-s-horizontal {
  height: var(--image_base_height);
  width: calc(var(--image_base_width) * 1.5);
}

.image-s-vertical {
  height: calc(var(--image_base_width) * 1.5);
  width: var(--image_base_height);
}

.image-m-square {
  --addW: calc(var(--image_base_width) * 0.4);
  --addH: calc(var(--image_base_height) * 0.4);
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-m-circle {
  --addW: calc(var(--image_base_width) * 0.4);
  --addH: calc(var(--image_base_height) * 0.4);
  border-radius: 50%;
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-m-horizontal {
  --W: calc(var(--image_base_width) + var(--image_base_width) * 0.4);
  height: calc(var(--image_base_height) + var(--image_base_height) * 0.4);
  width: calc(var(--W) * 1.5);
}

.image-m-vertical {
  --H: calc(var(--image_base_height) + var(--image_base_height) * 0.4);
  height: calc(var(--H) * 1.5);
  width: calc(var(--image_base_height) + var(--image_base_height) * 0.4);
}

.image-l-square {
  --addW: calc(var(--image_base_width) * 0.8);
  --addH: calc(var(--image_base_height) * 0.8);
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-l-circle {
  --addW: calc(var(--image_base_width) * 0.8);
  --addH: calc(var(--image_base_height) * 0.8);
  border-radius: 50%;
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-l-horizontal {
  --W: calc(var(--image_base_width) + var(--image_base_width) * 0.8);
  height: calc(var(--image_base_height) + var(--image_base_height) * 0.8);
  width: calc(var(--W) * 1.5);
}

.image-l-vertical {
  --H: calc(var(--image_base_height) + var(--image_base_height) * 0.8);
  height: calc(var(--H) * 1.5);
  width: calc(var(--image_base_height) + var(--image_base_height) * 0.8);
}

.image-xl-square {
  --addW: calc(var(--image_base_width) * 1.2);
  --addH: calc(var(--image_base_height) * 1.2);
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-xl-circle {
  --addW: calc(var(--image_base_width) * 1.2);
  --addH: calc(var(--image_base_height) * 1.2);
  border-radius: 50%;
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-xl-horizontal {
  --W: calc(var(--image_base_width) + var(--image_base_width) * 1.2);
  height: calc(var(--image_base_height) + var(--image_base_height) * 1.2);
  width: calc(var(--W) * 1.5);
}

.image-xl-vertical {
  --H: calc(var(--image_base_height) + var(--image_base_height) * 1.2);
  height: calc(var(--H) * 1.5);
  width: calc(var(--image_base_height) + var(--image_base_height) * 1.2);
}

.image-xxl-square {
  --addW: calc(var(--image_base_width) * 1.6);
  --addH: calc(var(--image_base_height) * 1.6);
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-xxl-circle {
  --addW: calc(var(--image_base_width) * 1.6);
  --addH: calc(var(--image_base_height) * 1.6);
  border-radius: 50%;
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-xxl-horizontal {
  --W: calc(var(--image_base_width) + var(--image_base_width) * 1.6);
  height: calc(var(--image_base_height) + var(--image_base_height) * 1.6);
  width: calc(var(--W) * 1.5);
}

.image-xxl-vertical {
  --H: calc(var(--image_base_height) + var(--image_base_height) * 1.6);
  height: calc(var(--H) * 1.5);
  width: calc(var(--image_base_height) + var(--image_base_height) * 1.6);
}

/*
 *toggles
 * */

.toggle-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.toggle {
  align-items: center;
  border-bottom-left-radius: 50%100%;
  border-bottom-right-radius: 50%100%;
  border-top-left-radius: 50%100%;
  border-top-right-radius: 50%100%;
  display: flex;
  transition: 0.5s;
}

.toggle-s {
  height: var(--toggle_base_height);
  padding: var(--toggle_base_padding);
  width: var(--toggle_base_width);
}

.toggle-m {
  --addW: calc(var(--toggle_base_width) * 0.4);
  --addH: calc(var(--toggle_base_height) * 0.4);
  height: calc(var(--toggle_base_height) + var(--addH));
  padding: calc(var(--toggle_base_padding) * 2);
  width: calc(var(--toggle_base_width) + var(--addW));
}

.toggle-l {
  --addW: calc(var(--toggle_base_width) * 0.8);
  --addH: calc(var(--toggle_base_height) * 0.8);
  height: calc(var(--toggle_base_height) + var(--addH));
  padding: calc(var(--toggle_base_padding) * 3);
  width: calc(var(--toggle_base_width) + var(--addW));
}

.toggle-ball {
  border-radius: 50%;
  height: 95%;
  width: 40%;
}

/*
 *colors
 * */

/*
 *colors: background
 * */

.bootstrap-blue-bg {
  background-color: #0069d9;
}

.red-bg {
  background-color: red;
}

.blue-bg {
  background-color: blue;
}

.gray-bg {
  background-color: gray;
}

.green-bg {
  background-color: green;
}

.yellow-bg {
  background-color: yellow;
}

.purple-bg {
  background-color: purple;
}

.cyan-bg {
  background-color: cyan;
}

.silver-bg {
  background-color: silver;
}

.black-bg {
  background-color: black;
}

.light-black-bg {
  background-color: #323232;
}

.white-bg {
  background-color: white;
}

.dark-white-bg {
  background-color: #e5e5e5;
}

.skyblue-bg {
  background-color: skyblue;
}

.wheat-bg {
  background-color: wheat;
}

.pink-bg {
  background-color: pink;
}

/*
 *colors: text
 * */

.black-txt {
  color: black;
}

.light-black-txt {
  color: #323232;
}

.red-txt {
  color: red;
}

.gold-txt {
  color: #efc94c;
}

.blue-txt {
  color: blue;
}

.dark-skyblue-txt {
  color: #283d46;
}

.maroon-txt {
  color: #7f0000;
}

.dark-maroon-txt {
  color: #580000;
}

.silver-txt {
  color: silver;
}
